@import 'shared/styles/colors.scss';

.color-and-fonts {
  width: 71.25rem;
  display: flex;
  justify-content: space-between;
  margin-left: 9.375rem;
  margin-right: 9.375rem;

  &__color-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.25rem;
  }

  &__font-type {
    display: flex;
    margin-bottom: 3.125rem;

    &_paragraph {
      width: 2.3125rem;
      margin-right: 1.875rem;
      text-align: end;

      &-type_H1 {
        font-size: 1.5rem;
        color: $color-dark-shade-25;
        line-height: 1.8125rem;
      }
      &-type_H2 {
        font-size: 1.1875rem;
        color: $color-dark-shade-25;
        line-height: 1.4375rem;
      }
      &-type_H3 {
        font-size: 0.75rem;
        color: $color-dark-shade-25;
        line-height: 0.9375rem;
      }
      &-type_Body {
        color: $color-dark-shade-25;
        line-height: 1.5rem;
      }
    }

    &_text {
      max-width: 22.5rem;

      &-type_H1 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8125rem;
      }
      &-type_H2 {
        font-weight: 700;
        font-size: 1.1875rem;
        line-height: 1.4375rem;
      }
      &-type_H3 {
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;

      }
      &-type_Body {
        color: $color-dark-shade-75;
        line-height: 1.5rem;
      }
    }
  }

  &__color-square {
    width: 4.375rem;
    height: 4.375rem;
    min-width: 4.375rem;
    border-radius: 0.375rem;

    &_color {
      &_dark-shade-100 {
        background: $color-dark-shade-100;
      }
      &_dark-shade-75 {
        background: $color-dark-shade-75;
      }
      &_dark-shade-50 {
        background: $color-dark-shade-50;
      }
      &_dark-shade-25 {
        background: $color-dark-shade-25;
      }
      &_dark-shade-5 {
        background: $color-dark-shade-5;
      }
      &_purple {
        background: $color-purple;
      }
      &_green {
        background: $color-green;
      }
    }
  }

  &__square-text {
    margin-left: 2.5rem;
    &_top {
      margin-bottom: 0.3125rem;
      font-weight: 700;
      font-size: 1.1875rem;
    }
    &_bottom {
      font-size: 1.1875rem;
    }
  }
}
