@import 'shared/styles/colors.scss';

.form-elements {
  width: 71.25rem;
  padding: 0 9.375rem 0 9.375rem;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content min-content min-content;
  grid-column-gap: 7.875rem;
  grid-row-gap: 6.25rem;

  &__grid {
    &-1 {
      &-1 {
        & [class='title'] {
          margin-bottom: 0.3125rem;
        }
        & > :not(:first-child) {
          margin-top: 1.25rem;
        }
      }

      &-2 {
        & [class='title'] {
          margin-bottom: 1rem;
        }
        & > :not(:first-child) {
          margin-top: 2.5rem;
        }
      }

      &-3 {
        & > :not(:first-child) [class='title'] {
          margin-bottom: 1rem;
        }
        & > :first-child [class='title'] {
          margin-bottom: 1.25rem;
        }
        > :last-child {
          margin-top: 2.5rem;
        }
      }
    }

    &-2 {
      &-1 {
        display: flex;
        flex-direction: column;
        & [class='title'] {
          margin-bottom: 0.3125rem;
        }
        > :last-child {
          margin-top: 1.25rem;
        }
      }

      &-2,
      &-3 {
        & [class='title'] {
          margin-bottom: 0.3125rem;
        }
      }
    }

    &-3 {
      &-1 {
        display: flex;
        flex-direction: column;
        > :last-child {
          margin-top: 1.25rem;
        }
      }

      &-2,
      &-3 {
        & [class='title'] {
          margin-bottom: 1rem;
        }
      }
    }

    &-4 {
      &-1 {
      }

      &-2 {
        display: flex;
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }

  &__text-field {
    &-1,
    &-2 {
      display: flex;
      flex-direction: column;
      width: 20rem;
    }
  }

  &__date-dropdown-card {
  }

  &__checkbox-buttons {
    width: 13.875rem;
  }

  &__toggle {
    > :last-child {
      margin-top: 0.625rem;
    }
  }

  &__like-button {
    &_group {
      display: flex;
      > :last-child {
        margin-left: 0.625rem;
      }
    }
  }

  &__rate-star-button {
    &_group {
      display: flex;
      > :last-child {
        margin-left: 1.25rem;
      }
    }
  }

  &__buttons {
    > :not(:first-child) {
      margin-top: 1.25rem;
    }
    &_group-1,
    &_group-2,
    &_group-3 {
      height: 2.75rem;
      display: flex;
      & div:first-child {
        margin-right: 1.25rem;
      }
      > * {
        width: 6.1875rem;
      }
    }

    &_group-4 {
      width: 20rem;
      height: 2.75rem;
      display: flex;
      min-width: 20rem;
      margin-top: 1.875rem;
    }
  }

  &__dropdown {
    width: min-content;
  }

  &__rate-star-buttons {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    column-gap: 1.25rem;

    :first-child {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
