extends ../../layout/layout-ui-kit.pug

include ../../../components/text-field/text-field.pug
include ../../../components/button/button.pug
include ../../../components/title/title.pug
include ../../../components/checkbox-buttons/checkbox-buttons.pug
include ../../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../../components/radio-buttons/radio-buttons.pug
include ../../../components/toggle/toggle.pug
include ../../../components/like-button/like-button.pug
include ../../../components/rate-star-button/rate-star-button.pug
include ../../../components/bullet-list/bullet-list.pug
include ../../../components/advantages/advantages.pug
include ../../../components/comment/comment.pug
include ../../../components/dropdown/dropdown.pug
include ../../../components/date-dropdown-card/date-dropdown-card.pug
include ../../../components/divided-date-dropdown-card/divided-date-dropdown-card.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/paginator/paginator.pug
include ../../../components/masked-text-field/masked-text-field.pug


block title
  title Form Elements
block content

  div.form-elements 

    div.form-elements__grid-1-1
      div.form-elements__text-field-1
        +title({titleName: "text field", titleSubText: "default"})
        +text-field({placeholder: "Email", type: "email"})
      div.form-elements__text-field-2
        +title({titleName: "text field", titleSubText: "hover / focus"})
        +text-field({placeholder: "Text field", type: "text", value: "This is pretty awesome",})      
      div(class="form-elements__dropdown js-form-elements__dropdown")
        +title({titleName: "dropdown"})
        +dropdown({hasButtons:true})  
      div(class="form-elements__masked-text-field js-form-elements__masked-text-field")
        +title({titleName: "masked text field"})
        +masked-text-field()   
      div(class="form-elements__divided-date-dropdown-card js-form-elements__divided-date-dropdown-card")
        +divided-date-dropdown-card()               
      div(class="form-elements__filter-date-dropdown-card js-form-elements__filter-date-dropdown-card")
        +title({titleName: "filter date dropdown"})
        +date-dropdown-card()        
      div.form-elements__text-field-3
        +title({titleName: "subscription text field"})
        +text-field({placeholder: "Email", type: "email", hasSubmitButton: true})

    div.form-elements__grid-1-2 
      div.form-elements__checkbox-buttons
        +title({titleName: "Checkbox Buttons"})
        +checkbox-buttons({list: [
          {isChecked: false, text: "Можно курить"},
          {isChecked: true, text: "Можно с питомцами"},
          {isChecked: true, text: "Можно пригласить гостей (до 10 человек)"},
          ],})
      div.form-elements__radio-buttons
        +title({titleName: "Radio Buttons"})  
        +radio-buttons({name:"gender", callNumber:1,
          list:[{isChecked: true, text: "Мужчина"},
          {isChecked: false, text: "Женщина"},
          ],}) 
      div.form-elements__toggle 
        +title({titleName: "toggle"})
        +toggle({isChecked: true, text: "Получать спецпредложения"})
        +toggle({isChecked: false, text: "Получать спецпредложения"})
      div.form-elements__like-button 
        +title({titleName: "like button"})
        div.form-elements__like-button_group
          +like-button({number: 2})
          +like-button({isChecked:true, number: 12})
      div.form-elements__rate-star-buttons         
        +title({titleName: "rate button"})
        div(class="form-elements__rate-star-button js-form-elements__rate-star-button") 
          +rate-star-button()
        div(class="form-elements__rate-star-button js-form-elements__rate-star-button") 
          +rate-star-button()

    div.form-elements__grid-1-3
      div(class="form-elements__range-slider js-form-elements__range-slider")       
        +range-slider()
      div.form-elements__buttons
        +title({titleName: "buttons"})
        div.form-elements__buttons_group-1
          +button({children: "Click me"})
          +button({children: "Click me"})
        div.form-elements__buttons_group-2
          +button({children: 'Click me',isOutlined:true})
          +button({children: 'Click me',isOutlined:true})
        div.form-elements__buttons_group-3
          +button({children: 'Click me',isWord:true})
          +button({children: 'Click me',isWord:true})
        div.form-elements__buttons_group-4
          +button({children: 'Перейти к оплате', hasArrow: true, arrowColor: 'white'})
      div(class="form-elements__pagination js-form-elements__pagination")
        +title({titleName: "pagination"})
        +paginator()

    div.form-elements__grid-2-1
      div(class="form-elements__dropdown-other js-form-elements__dropdown")
        +title({titleName: "dropdown", titleSubText: "default"})
        +dropdown()
      div(class="form-elements__dropdown-other js-form-elements__dropdown")
        +title({titleName: "dropdown", titleSubText: "expanded"})
        +dropdown()
    div.form-elements__grid-2-2
      div(class="form-elements__dropdown js-form-elements__dropdown")
        +title({titleName: "dropdown"})
        +dropdown({hasButtons:true})
    div.form-elements__grid-2-3
      div(class="form-elements__dropdown js-form-elements__dropdown")
        +title({titleName: "dropdown"})
        +dropdown({hasButtons:true})

    div.form-elements__grid-3-1
      div(class="form-elements__expandable-checkbox-list js-form-elements__expandable-checkbox-list")
        +expandable-checkbox-list({
          titleText:"expandable checkbox list",
          })
      div(class="form-elements__expandable-checkbox-list js-form-elements__expandable-checkbox-list")
        +expandable-checkbox-list({
          titleText:"expandable checkbox list",
          })

    div.form-elements__grid-3-2
      div.form-elements__rich-checkbox-buttons
        +title({titleName: "rich checkbox buttons"})
        +checkbox-buttons({isRichCheckboxButtons:true,
          list: [
          {isChecked: false, text: "Широкий коридор", additionalText: "Ширина коридоров в номере не менее 91 см.",},
          {isChecked: false, text: "Помощник для инвалидов", additionalText: "На 1 этаже вас встретит специалист и проводит до номера.",},
          ],})

    div.form-elements__grid-3-3
      div.form-elements__bullet-list
        +title({titleName: "bullet list"})
        +bullet-list()


    div.form-elements__grid-4-1 
      +advantages()

    div.form-elements__grid-4-2
      +comment()