@import 'shared/styles/colors.scss';

.radio-buttons {
  $radio-buttons-size: 20px;
  display: flex;
  :first-child {
    margin-right: 20px;
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__mark {
    width: $radio-buttons-size;
    height: $radio-buttons-size;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-dark-shade-25;
    border-radius: 10px;
    &_item {
      width: 12px;
      height: 12px;
      background: $color-purple-gradient-100;
      border-radius: 10px;
    }
  }
  &__input:checked ~ &__mark {
    border: 1px solid $color-purple;
  }
  &__input:checked ~ &__mark::after {
    content: '';
    width: 12px;
    height: 12px;
    background: $color-purple-gradient-100;
    border-radius: 10px;
  }

  &__text {
    line-height: 24px;
    color: $color-dark-shade-50;
  }
  &__input:checked ~ &__text {
    color: $color-dark-shade-75;
  }
}
