@import 'shared/styles/colors.scss';

.radio-buttons {
  $radio-buttons-size: 1.25rem;

  height: 24px;
  display: flex;
  :first-child {
    margin-right: 1.25rem;
  }

  &__label {
    cursor: pointer;
    height: min-content;
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__mark {
    width: $radio-buttons-size;
    height: $radio-buttons-size;
    margin-right: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid $color-dark-shade-25;
    border-radius: 0.625rem;
    &_item {
      width: 0.75rem;
      height: 0.75rem;
      background: $color-purple-gradient-100;
      border-radius: 0.625rem;
    }
  }
  &__input:checked ~ &__mark {
    border: 0.0625rem solid $color-purple;
  }
  &__input:checked ~ &__mark::after {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    background: $color-purple-gradient-100;
    border-radius: 0.625rem;
  }

  &__text {
    line-height: 1.5rem;
    color: $color-dark-shade-50;
  }
  &__input:checked ~ &__text {
    color: $color-dark-shade-75;
  }
}
