@import 'shared/styles/colors.scss';

.pie-list {
  display: flex;
  align-items: flex-end;

  &__pie {
    &-text {
      &-1 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8125rem;
      }
      &-2 {
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
      }
    }
    :nth-child(1)[class$='path_fill-color'] {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }
    :nth-child(3)[class$='path_fill-color'] {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }
    :nth-child(5)[class$='path_fill-color'] {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
    :nth-child(7)[class$='path_fill-color'] {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }

  &__list {
    margin-left: 1.875rem;
    margin-bottom: -5px;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 0.3125rem;
    align-items: center;
    align-content: center;

    &-marker {
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 0.625rem;
    }
    :nth-child(1)[class$='marker'] {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }
    :nth-child(3)[class$='marker'] {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }
    :nth-child(5)[class$='marker'] {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
    :nth-child(7)[class$='marker'] {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }

    &-text {
      font-weight: 400;
      line-height: 1.5rem;
      color: $color-dark-shade-75;
    }
  }
}
