@import 'shared/styles/colors.scss';

.sign-in {
  position: relative;
  width: 90rem;
  height: 47.0625rem;
  background-image: url(../../../shared/img/background-registration-page.png);
  &__enter-card {
    position: absolute;
    top: 10.75rem;
    left: calc(90rem / 2 - 23.75rem / 2);
  }
}
