@import 'shared/styles/colors.scss';

.like-button {
  user-select: none;

  &__background-gradient {
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 0.625rem;
    background-image: $color-purple-gradient-100;
  }
  &__input:not(:checked) ~ &__background-gradient {
    background-image: linear-gradient($color-dark-shade-25);
  }

  &__background-hollow {
    width: 2.375rem;
    height: 1.125rem;
    border-radius: 0.625rem;
    margin: 0.0625rem 0 0 0.0625rem;
    background-color: white;
  }

  &__label {
    cursor: pointer;
    width: 2.5rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    border-radius: 0.625rem;
    background-color: white;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__frame {
    position: absolute;
    width: 2.5rem;
    height: 1.25rem;
    border: 0.0625rem solid $color-dark-shade-25;
    border-radius: 0.625rem;
  }
  &__input:checked ~ &__frame {
    border: 0.0625rem solid $color-purple;
  }

  &__mark {
    width: 1.25rem;
    height: 0.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  &__input:not(:checked) ~ &__mark_default {
    opacity: 1;
  }
  &__input:checked ~ &__mark_active {
    opacity: 1;
  }

  &__number {
    position: absolute;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    margin-left: 1.375rem;
    opacity: 0;
  }
  &__input:not(:checked) ~ &__number_default {
    color: $color-dark-shade-25;
    opacity: 1;
  }
  &__input:checked ~ &__number_active {
    color: $color-purple;
    opacity: 1;
  }
}
