@import 'shared/styles/colors.scss';

.date-dropdown {
  max-width: 16.625rem;

  &__container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.0625rem solid $color-dark-shade-25;
    border-radius: 0.25rem;
    &:hover {
      border-color: $color-dark-shade-50;
    }

    &-text {
      display: flex;
      align-items: center;

      width: 12.9375rem;
      height: 2.75rem;
      margin-left: 0.9375rem;
      font-weight: 400;
      line-height: 1.5rem;
      color: $color-dark-shade-75;
    }

    &-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.75rem;
      min-width: 2.75rem;
      height: 2.75rem;
      transform: scaleY(-1);
      &_is-opened {
        transform: scaleY(1);
      }
    }
  }

  &__calendar-container {
    max-height: 0;
    position: absolute;
    width: min-content;
    overflow: hidden;
    z-index: 1;
    transition: max-height 0.3s;
    &_is-opened {
      max-height: 23.125rem;
    }
  }
}
