mixin date-dropdown(props = {})
  -
    const {
    } = props;

  div.date-dropdown    
    div(class="date-dropdown__container js-date-dropdown__container")      
      span(class="date-dropdown__container-text js-date-dropdown__container-text" ) ДД.ММ.ГГГГ
      div(class="date-dropdown__container-arrow js-date-dropdown__container-arrow")
        img.date-dropdown__arrow-img(src="../../assets/img/expand-arrow-dark-75.svg")      
    div(class="date-dropdown__calendar-container js-date-dropdown__calendar-container")