mixin advantages(props = {})  
  -
    const {
      img = [`../../assets/img/advantage-comfort.svg`,`../../assets/img/advantage-convenience.svg`,`../../assets/img/advantage-cosiness.svg`],
      titleText = ["Комфорт","Удобство","Уют"],
      mainText = ["Шумопоглощающие стены","Окно в каждой из спален","Номер оснащён камином"],
      hasComfortConvenienceCosiness = [true,true,false]
    } = props;

  div.advantages
    - for(let i=0;i<3;i++)
      - if (hasComfortConvenienceCosiness[i])
        div.advantages__container
          img.advantages__img(src=`${img[i]}`)
          div.advantages__text
            span.advantages__title-text= titleText[i]
            span.advantages__main-text= mainText[i]
        - if (i!==2) 
          div.advantages__separator


