mixin advantages(props = {})  
  -
    const {
    } = props;

  div.advantages
    div.advantages__container
      img.advantages__img(src="../../assets/img/advantage-comfort.svg")
      div.advantages__text
        span.advantages__title-text Комфорт
        span.advantages__main-text Шумопоглощающие стены
    div.advantages__separator
    div.advantages__container
      img.advantages__img(src="../../assets/img/advantage-convenience.svg")
      div.advantages__text
        span.advantages__title-text Удобство
        span.advantages__main-text Окно в каждой из спален
    div.advantages__separator

