@import 'shared/styles/colors.scss';

.expandable-checkbox-list {
  &__title {
    cursor: pointer;
    height: 0.9375rem;
    margin-bottom: 1.125rem;
    display: flex;
    align-items: center;
  }

  &__title-text {
    margin-right: 1.875rem;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
  }

  &__title-expand-arrow {
    width: 0.75rem;
    height: 0.5rem;
    user-select: none;
    transform: scaleY(-1);
    &_is-opened {
      transform: scaleY(1);
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    > :not(:first-child) {
      margin-top: 0.625rem;
    }
    &_is-opened {
      max-height: 10.6875rem;
    }
  }

  &__checkbox {
    display: flex;
    > :last-child {
      margin-left: 0.625rem;
    }
  }

  &__label {
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &__input {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
  }

  &__checkbox-mark {
    opacity: 0;
  }
  &__input:checked ~ &__checkbox-frame &__checkbox-mark {
    opacity: 1;
  }

  &__checkbox-frame {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid $color-dark-shade-25;
    border-radius: 0.25rem;
  }
  &__input:checked ~ &__checkbox-frame {
    border: 0.0625rem solid $color-purple;
  }

  &__text {
    line-height: 1.125rem;
    color: $color-dark-shade-50;
  }
}
