mixin divided-date-dropdown(props = {})
  -
    const {
      textTitle1 = "date dropdown",
      textTitle2 = "date dropdown",
    } = props;

  div.divided-date-dropdown   
    div.divided-date-dropdown__title-1= textTitle1
    div.divided-date-dropdown__title-2= textTitle2
    div(class="divided-date-dropdown__container js-divided-date-dropdown__container")      
      span(class="divided-date-dropdown__container-text js-divided-date-dropdown__container-text" ) ДД.ММ.ГГГГ
      div(class="divided-date-dropdown__container-arrow js-divided-date-dropdown__container-arrow")
        img.divided-date-dropdown__arrow-img(src="../../assets/img/expand-arrow-dark-75.svg")       
    div(class="divided-date-dropdown__container js-divided-date-dropdown__container")      
      span(class="divided-date-dropdown__container-text js-divided-date-dropdown__container-text" ) ДД.ММ.ГГГГ
      div(class="divided-date-dropdown__container-arrow js-divided-date-dropdown__container-arrow")
        img.divided-date-dropdown__arrow-img(src="../../assets/img/expand-arrow-dark-75.svg")         
    div(class="divided-date-dropdown__calendar-container js-divided-date-dropdown__calendar-container")