@import 'shared/styles/colors.scss';

.landing-page {
  position: relative;
  width: 90rem;
  height: 51.875rem;
  background-image: url(../../../shared/img/background-landing-page.png);
  &__chose-room-card {
    position: absolute;
    top: 4.375rem;
    left: 8.75rem;
  }

  &__text {
    position: absolute;
    width: 18.75rem;
    height: 3.125rem;
    right: 8.75rem;
    bottom: 1.25rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    color: $color-dark-shade-75;
  }
}
