@import 'shared/styles/colors.scss';

@import '../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css';

.range-slider {
  height: 55px;
  max-width: 16.625rem;
  &__title {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    &-text {
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      color: $color-dark-shade-100;
      text-transform: uppercase;
    }
    &-values {
      font-size: 0.75rem;
      color: $color-dark-shade-50;
      text-transform: uppercase;
    }
  }
  &__container{
    position: relative;
  }
}
