@import 'shared/styles/colors.scss';

.room-show-card {
  width: 16.875rem;
  background: #ffffff;
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &__photos-scroll {
    width: 16.875rem;
    height: 9.375rem;
    position: relative;
    overflow: hidden;
    user-select: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  &__photos {
    position: absolute;
    display: flex;
  }
  &__photo {
    width: 270px;
    height: 9.375rem;
    transition: 0.75s;
  }

  &__arrow-buttons {
    width: 16.875rem;
    height: 9.375rem;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }
  &__button-back {
    cursor: pointer;
    width: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    &_hide {
      display: none;
    }
  }
  &__button-forward {
    cursor: pointer;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: scaleX(-1);
    &_hide {
      display: none;
    }
  }

  &__radio-buttons {
    z-index: 3;
    position: absolute;
    display: flex;
    right: 0.9375rem;
    bottom: 0.9375rem;
    :not(:first-child) {
      margin-left: 0.2344rem;
    }
  }
  &__radio-button {
    cursor: pointer;
    width: 0.4688rem;
    height: 0.4688rem;
    border: 0.0625rem solid #ffffff;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3));
    &_select {
      background: #ffffff;
    }
  }

  &__info-text {
    width: 16.875rem;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &-title {
      display: grid;
      grid-template-columns: max-content max-content max-content auto min-content;
      align-items: end;
      white-space: nowrap;

      &-room-number-symbol {
        margin-right: 3px;
        font-family: Quicksand, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        color: $color-dark-shade-100;
      }
      &-room-number {
        font-family: Quicksand, sans-serif;
        font-weight: 700;
        font-size: 0.9375rem;
        line-height: 1.0938rem;
        color: $color-dark-shade-100;
      }
      &-room-class {
        margin-left: 0.0625rem;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
        color: $color-purple;
      }
      &-room-price {
        justify-self: end;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $color-dark-shade-50;
      }
      &-room-price-period {
        margin-left: 0.25rem;
        font-size: 12px;
        line-height: 1.125rem;
        color: $color-dark-shade-50;
      }
    }

    &-separator {
      height: 0.0625rem;
      margin: 0.625rem 0 0.5rem 0;
      background: $color-dark-shade-10;
    }

    &-bottom {
      display: flex;
      align-items: center;
    }
    &-rate-star-button {
      justify-self: start;
      flex-grow: 1;
    }
    &-feedback-number {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $color-dark-shade-50;
    }
    &-feedback-text {
      margin-left: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $color-dark-shade-50;
    }
  }
}
