@import 'shared/styles/colors.scss';

.registration {
  position: relative;
  min-height: 47.0625rem;
  background-image: url(../../../shared/img/background-registration-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  &__account-registration-card {
    position: absolute;
    top: 1.25rem;
    left: calc(90rem / 2 - 23.75rem / 2);
  }
}
