extends ../layout/layout-ui-kit.pug

block body
  div.ui-kit Ui-kit страницы
    a.ui-kit__item(href="./headers-and-footers.html") Headers & Footers
    a.ui-kit__item(href="./form-elements.html") Form elements
    a.ui-kit__item(href="./colors-and-fonts.html") Colors & Fonts
    a.ui-kit__item(href="./cards.html") Forms
  div.web-pages Web-pages страницы
    a.web-pages__item(href="./landing-page.html") Landing page
    a.web-pages__item(href="./search-room.html") Search room    
    a.web-pages__item(href="./registration.html") Registration  
    a.web-pages__item(href="./room-details.html") Room details
    a.web-pages__item(href="./sign-in.html") Sign in