@import 'shared/styles/colors.scss';

.chose-room-card {
  width: 23.75rem;
  padding: 2.5rem 1.875rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &__title {
    margin-bottom: 1.3125rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: $color-dark-shade-100;
    letter-spacing: 0.4px;
  }

  &__dates {
    margin-bottom: 1.3125rem;
  }

  &__guests {
    margin-bottom: 1.9375rem;
    & > :first-child {
      margin-bottom: 0.3125rem;
    }
  }

  &__button {
    height: 2.75rem;
  }
}
