mixin date-dropdown-card(props = {})
  -
    const {
    } = props;

  div.date-dropdown-card    
    div(class="date-dropdown-card__container js-date-dropdown-card__container")      
      span(class="date-dropdown-card__container-text js-date-dropdown-card__container-text" ) ДД.ММ.ГГГГ
      div(class="date-dropdown-card__container-arrow js-date-dropdown-card__container-arrow")
        img.date-dropdown-card__arrow-img(src="../../assets/img/expand-arrow-dark-75.svg")      
    div(class="date-dropdown-card__calendar-container js-date-dropdown-card__calendar-container")