mixin masked-text-field(props = {})
  - 
    const {
    } = props;

  div.masked-text-field
    input(class="masked-text-field__input js-masked-text-field__input" type="text" placeholder="ДД.ММ.ГГГГ")