@import 'shared/styles/colors.scss';

.header {
  height: min-content;
  padding: 0.9375rem 8.75rem 0.9375rem 8.75rem;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  > :not(:first-child) {
    margin-left: 1.25rem;
  }

  &__logo {
    display: flex;
    flex-grow: 1;
  }
  &__about-us {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: $color-dark-shade-75;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__services,
  &__vacancy,
  &__news,
  &__agreements {
    white-space: nowrap;
    text-decoration: none;
    color: $color-dark-shade-50;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__services,
  &__agreements {
    display: grid;
    grid-template: min-content min-content/min-content min-content;

    &-list {
      position: absolute;
      max-height: 0;
      margin-top: 1.25rem;
      padding: 0 0.625rem 0.1875rem 0.625rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: 0.75s;
      background-color: #ffffff;

      &-link {
        &-1,
        &-2,
        &-3 {
          margin-top: 0.3125rem;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 1.0625rem;
          color: $color-dark-shade-75;
          text-decoration: none;
        }
      }
    }

    &_opened &-list {
      max-height: 6.25rem;
      box-shadow: 0 0.1875rem 0.625rem 0.1875rem $color-dark-shade-25;
    }
  }

  &__current {
    cursor: pointer;
    &-arrow {
      padding: 0 0.375rem 0 0.375rem;
      align-self: center;
      transform: scaleY(-1);
    }
  }
  &__services_opened &__current-arrow,
  &__agreements_opened &__current-arrow {
    transform: scaleY(1);
  }

  &__button {
    &-enter {
      text-decoration: none;
      min-width: 5.4375rem;
      height: 2.125rem;
    }
    &-register {
      text-decoration: none;
      min-width: 12.25rem;
      height: 2.125rem;
    }
  }

  &__separator {
    width: 0.0625rem;
    height: 1.875rem;
    background: $color-dark-shade-10;
  }
  &__user-name {
    white-space: nowrap;
    color: $color-dark-shade-50;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}
