@import 'shared/styles/colors.scss';

.cards {
  padding: 0 8.75rem 0 8.75rem;
  display: flex;

  &__colum-1,
  &__colum-2,
  &__colum-3 {
    &:not(:first-child) {
      margin-left: 40px;
    }
    & > *:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__calendar {
    border: none;
    margin-top: -5px;
    > :first-child {
      > :first-child {
        display: none;
      }
    }
  }
}
