@import 'shared/styles/colors.scss';

.bullet-list {
  display: flex;
  flex-direction: column;
  &__bullet {
    display: flex;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__mark {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0.4375rem 0.625rem 0 0;
    background-color: $color-dark-shade-25;
    border-radius: 1.25rem;
  }

  &__text {
    width: 240px;
    line-height: 1.5rem;
    color: $color-dark-shade-75;
  }
}
