@import 'shared/styles/colors.scss';

.room-details {
  border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.25);

  &__photos {
    width: 100%;
    height: 30.3125rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content min-content;
  }
  &__photo {
    &-1 {
      height: 30.3125rem;
      display: flex;
      grid-row-start: 1;
      grid-row-end: 3;
      background-image: url(../../../shared/img/background-room-details-1.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-2 {
      height: calc(30.3125rem / 2);
      display: flex;
      background-image: url(../../../shared/img/background-room-details-2.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-3 {
      height: calc(30.3125rem / 2);
      display: flex;
      background-image: url(../../../shared/img/background-room-details-3.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__title {
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    color: $color-dark-shade-100;
    letter-spacing: 0.3px;
    & + * {
      margin-top: 1.25rem;
    }
  }

  &__info {
    padding: 4.375rem 0 4.375rem 8.75rem;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content min-content;
    column-gap: 3.75rem;
    row-gap: 1.875rem;
  }

  &__impressions-of-room {
    margin-left: -15px;
  }

  &__guest-reviews {
    margin-top: 3px;

    > :not(:first-child) {
      margin-top: 22px;
    }
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__cancel,
  &__rules {
    margin-top: 2px;
  }

  &__cancel {
    margin-left: -7px;
  }

  &__rules &__title {
    margin-left: 18px;
  }
  &__guest-reviews &__title {
    letter-spacing: 0.5px;
  }

  &__cancel-text {
    margin-top: 18px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $color-dark-shade-75;
  }

  &__reserve-room-card {
    margin-left: 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
