@import 'shared/styles/colors.scss';

.room-details {
  width: 90rem;
  border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.25);

  &__photos {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
  }
  &__photo {
    &-1 {
      width: 61.3125rem;
      height: 30.3125rem;
      grid-row-start: 1;
      grid-row-end: 3;
      background-image: url(../../../shared/img/background-room-details-1.png);
      background-size: 100% auto;
    }
    &-2 {
      width: 28.8125rem;
      height: 15.1875rem;
      background-image: url(../../../shared/img/background-room-details-2.png);
    }
    &-3 {
      width: 28.8125rem;
      height: 15.1875rem;
      background-image: url(../../../shared/img/background-room-details-3.png);
    }
  }

  &__title {
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    color: $color-dark-shade-100;
    & + * {
      margin-top: 1.25rem;
    }
  }

  &__info {
    padding: 4.375rem 0 4.375rem 8.75rem;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content min-content;
    column-gap: 3.75rem;
    row-gap: 1.875rem;
  }

  &__guest-reviews {
    > :not(:first-child) {
      margin-top: 1.25rem;
    }
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__cancel-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $color-dark-shade-75;
  }

  &__reserve-room-card {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
