mixin toggle(props = {})
  -
    const {   
      isChecked = false,
      text = "Текст",
    } = props;
 
  div.toggle
    label.toggle__label
      input.toggle__input(type="checkbox" checked= isChecked)
      div.toggle__mark
      div.toggle__text= text
