@import 'shared/styles/colors.scss';

.toggle {
  &__label {
    cursor: pointer;
    height: min-content;
    display: flex;
    align-items: center;
    :last-child {
      margin-left: 0.875rem;
    }
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__mark {    
    width: 2.5rem;
    height: 1.25rem;
    border: 0.0625rem solid $color-dark-shade-25;
    border-radius: 0.625rem;
    &::after {
      content: '';
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      margin: 0.1875rem 0 0 0.1875rem;
      background: $color-dark-shade-25;
      border-radius: 0.625rem;
      transition: margin-left 0.3s;
    }
  }
  &__input:checked ~ &__mark {
    border: 0.0625rem solid $color-purple;
  }
  &__input:checked ~ &__mark::after {
    margin: 0.1875rem 0 0 1.4375rem;
    background: $color-purple-gradient-100;
  }

  &__text {
    line-height: 1.5rem;
    color: $color-dark-shade-75;
    white-space: nowrap;
  }
}
