@import 'shared/styles/colors.scss';

.checkbox-buttons {
  $checkbox-size: 1.25rem;

  display: flex;
  flex-direction: column;

  &__checkbox {
    display: flex;
    & > :last-child {
      margin-left: 0.625rem;
    }
  }
  &__checkbox + &__checkbox {
    margin-top: 0.625rem;
  }
  &__additional-text + &__checkbox {
    margin-top: 0.625rem;
  }

  &__label {
    display: flex;
    user-select: none;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox-mark {
    cursor: pointer;
    width: $checkbox-size;
    height: $checkbox-size;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  &__input:not(:checked) ~ &__checkbox-mark {
    opacity: 0;
  }

  &__frame {
    min-width: $checkbox-size;
    height: $checkbox-size;
    border: 0.0625rem solid $color-dark-shade-25;
    border-radius: 0.25rem;
  }
  &__input:checked ~ &__frame {
    border: 0.0625rem solid $color-purple;
  }

  &__text {
    line-height: 1.125rem;
    color: $color-dark-shade-50;
    &_rich {
      font-weight: 700;
      color: $color-dark-shade-75;
    }
  }

  &__additional-text {
    width: 14.375rem;
    margin-left: 1.875rem;
    margin-top: 0.3125rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: $color-dark-shade-50;
  }
}
