@import 'shared/styles/colors.scss';

.text-field {
  display: flex;
  border: 0.0625rem solid $color-dark-shade-25;
  border-radius: 0.25rem;
  &:hover,
  &:focus-within {
    border: 0.0625rem solid $color-dark-shade-50;
  }

  &__native-element {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    background: #ffffff;
    padding: 0.8125rem 0.9375rem;
    outline: none;
  }

  &__submitter {
    cursor: pointer;
    min-width: 2.75rem;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Material Icons;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $color-purple;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
