@import 'shared/styles/colors.scss';

.account-registration-card {
  width: 23.75rem;
  padding: 2.5rem 1.875rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  [class='title'] {
    margin-bottom: 0.3125rem;
  }

  &__title {
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: $color-dark-shade-100;
  }

  &__text-fields-name {
    > :not(:first-child) {
      margin-top: 0.625rem;
    }
  }

  &__date-of-birth {
    margin-top: 1.5rem;
  }

  &__data-for-logging {
    margin-top: 1.25rem;
    > :not(:first-child) {
      margin-top: 0.625rem;
    }
  }

  &__go-to-payment {
    height: 2.75rem;
    margin-top: 2.375rem;
  }

  &__enter {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > :last-child {
      width: 6.1875rem;
      height: 2.75rem;
    }

    &_text {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }
}
